<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="chat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Ntuaflix</title>
</head>
<body>
    <div id="chat_btn">
        <p>Chat with your favorite actor or actress</p>
    </div>
    <div id="select_actor">
      <div id="search_div">
        <p>Select an actor or an actress:</p>
        <div class="search-bar">
            <form action="#">
              <input type="text" placeholder="Search...">
              <button>
                <i class="fa fa-search"></i>
              </button>
            </form>
          </div>
    </div> 
    <div id="actors_rectangle">
        <div id="actors_row">
            <div id="actor_card">
                <div id="actor_card_element">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
                        <circle cx="32" cy="32" r="32" fill="#D9D9D9"/>
                      </svg>
                </div>
                <p id="actorsName">Name LastName</p>
            </div>
        </div> 
    </div>
    </div>
    <div id="chatIcon">
        <img src="chatIcon.svg" alt="ChatWithAnActorOrActress" width="82" height="65">
    </div>
</body>
</html>
