{% extends "layout.html" %}

{% block body %}
    <div style="max-width: 450px; margin: 100px auto 0 auto; padding: 30px; text-align: center; background-color: #1f1f1f; border-radius: 10px; box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);">
        <h2 style="font-size: 28px; color: rgb(253, 253, 253); margin-bottom: 20px;">Search NTUAflix</h2>
        <form action="/search" method="post" style="padding: 20px; border-radius: 8px;">

            <input style="width: calc(100% - 40px); margin-bottom: 20px; padding: 12px; border: 1px solid #555; border-radius: 8px; font-size: 16px; color: #fff; background-color: #333;" type="text" id="movie_title" name="movie_title" placeholder="Search by movie title">
            <input style="width: calc(100% - 40px); margin-bottom: 20px; padding: 12px; border: 1px solid #555; border-radius: 8px; font-size: 16px; color: #fff; background-color: #333;" type="text" id="movie_title" name="movie_id" placeholder="Search by movie id">
            <input style="width: calc(100% - 40px); margin-bottom: 20px; padding: 12px; border: 1px solid #555; border-radius: 8px; font-size: 16px; color: #fff; background-color: #333;" type="text" id="movie_genre" name="movie_genre" placeholder="Search by genre">
            <input style="width: calc(100% - 40px); margin-bottom: 20px; padding: 12px; border: 1px solid #555; border-radius: 8px; font-size: 16px; color: #fff; background-color: #333;" type="text" id="movie_genre" name="movie_actor" placeholder="Search by actor">


            <button style="width: 100px; padding: 12px; background-color: #e50914; color: #fff; border: none; border-radius: 8px; cursor: pointer; font-size: 16px;">
                Search
            </button>
        </form>
    </div>
{% endblock %}
